.song-page {
  color: white;
}

html {
  background-color: #1a1a1a;
}

.song-page {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  height: 90%;
  width: 80%;
  margin: auto;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

.post-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #1a1a1a;
  margin: 50px 0;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.song-page-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100%;
  width: 100%;
  margin: auto;
}

.song-page-header-left-song-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.song-page-header-left-song-name > h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 50px auto;
}

.react-player {
  width: 100%;
  height: 100%;
}

.song-page-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.song-page-container-left button {
  width: 20%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f5f5f5;
  color: #000;
}

.song-page-container-right-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.edit-song-button {
  width: 20%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f5f5f5;
  color: #000;
}

.song-page-container-right-delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.song-page-container-right-delete > button {
  width: 20%;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f5f5f5;
  color: #000;
}

.song-page-container-left button:hover,
.song-page-container-right-delete > button:hover,
.edit-song-button:hover {
  background-color: #e5e5e5;
}

.song-page-comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}

.song-page-comments-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.song-page-comments-left-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.song-page-comments-left-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.enter-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: white; */
}

.enter-comment-form > input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.song-page-body-left-lyrics-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

.song-page-body-left-lyrics-comments-comment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.song-page-body-left-lyrics-comments-comment-user {
  /* color: black; */
  /* padding: 12px 16px; */
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: left;
  /* margin: auto; */
}

.song-page-body-left-lyrics-comments-comment-body {
  height: 100%;
  width: 100%;
  text-decoration: none;
  margin-left: 50px;
  display: block;
  text-align: left;
  /* margin: auto; */
}

.song-page-body-left-lyrics-comments-comment > h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
  margin: auto;
}

.date-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
}

.date-info > h5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
  margin-right: 10px;
}

.song-page-body-left-lyrics-comments-comment-user-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
  margin-right: 10px;
}

.enter-comment-form > textarea {
  width: 100%;
  height: 250px;
  border: none;
  border-bottom: 1px solid white;
  /* background-color: transparent; */
  /* color: white; */
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
  resize: none;
}
