.song-page {
  color: white;
}

html {
  background-color: #1a1a1a;
}

.song-page__song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.song-page {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  height: 100%;
  width: 80%;
  margin: auto;
}
