#all-songs-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  background-color: #c2c2c2;
}

#all-songs-page-content {
  /* position: absolute; */
  background-color: white;
  height: 100vh;
  width: 80%;
}

/* remove bullet points */
 a {
  justify-content: center;
  width: 50%;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

ul {
  list-style-type: none;
}

#all-songs-page-content ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  border-bottom: #c2c2c2 solid 1px;
}

#all-songs-page-content > h1 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
